html {
    height: 100%;
}
footer {
    background-color: rgb(140, 125, 174);
    height: 50px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
footer img {
    height: 40px;
    width: 40px;
    padding: 5px;
    transition: .2s;
    opacity: 1;
}
footer img:hover {
    opacity: .7;
}
body {
    position: relative;
    margin: 0;
    min-height: 93%;
    width: 100vw;
    padding-bottom: 4rem;
    background-color: rgba(40, 40, 40, 1);
    color: white;
}
.social-media {
    padding-left: 15px;
}
a {
    text-decoration: none;
    color: white;
    transition: .2s;
}
a:hover {
    opacity: .7;
}
.copyright {
    padding-right: 15px;
}
.copyright a {
    text-decoration: underline;
}
.nav-bar {
    background-color: rgb(140, 125, 174);
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0 10px 0;
}
.nav-bar a {
    font-weight: 700;
    font-size: 1.2em;
}
header {
    background-image: url('../img/logo2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    text-align: center;
    color: transparent;
    padding: 150px;
    margin: 0;
}
.homepage-background {
    display: flex;
    justify-content: space-between;
}
.homepage-background img {
    width: 80%;
    padding: 30px;
    height: auto;
    align-self: center;
}
.fb-page {
    margin: 30px;
}
